.Completionpage {
    height: 100vh;
    width: 100vw;
}

.progressbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    padding-left: 5%;
    padding-top: 10%;
}

.contextbox {
    display: flex;
    align-items: center;
    justify-content: center; 
    color: #E7E3E3;
    padding-top: 5%;
}

.Completion {
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center; 
    color: #E7E3E3;
    padding-top: 5%;
    opacity: 0;
}

.returnbutton {
    
}